---
title: About
layout: main
---


<div class="
  text-primary
  bg-black
  flex flex-col
  p-4
  w-full
">
  <h2 class="self-center text-3xl font-regular uppercase">{{ title }}</h2>
  <h6 class="self-center text-md font-thin normal-case">{{ subtitle }}</h6>
</div>

<img 
  class="bg-black w-full"
  src="{{ mainImage }}"
/>

<div class="
bg-secondary
flex pb-4 pt-4
absolute inset-x-0 bottom-0 
">
{%- for p in collections.artwork -%}
  
  <a href="{{ p.url }}">
    <img 
      class="
      w-48
      {% if page.url == p.url %} 
      border-2 border-primary 
      {% else %}
      opacity-50
      {% endif %}
      "
      src="{{ p.data.mainImage }}" 
    />
  </a>
{%- endfor -%}
<div>